<div class="wrapper">
  <% include ../header/header %>
  <% include ../sidebar/sidebar %>
  <section class="content-wrapper">
    <div class="content">
      <div class="row" style="margin-top:10px;">
        <div class="col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-th"></i>
              <h3 class="box-title">LIST OF SLIDES</h3>
              <div class="pull-right box-tools">
                <button id="btn-add-event" type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add New Slide</button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="api-table" class="table table-striped table-bordered">
                 <thead>
                      <tr>
                          <th>Title</th>
                          <th>Status</th>
                          <th>Created By</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-th"></i>
              <h3 class="box-title">FLASH REPORT</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                <label for="event-title" class="col-sm-3 control-label">Flash Report Banner</label>
                <div class="col-sm-9">
                  <input type="text" name="flash-report" class="form-control" id="flashReport" placeholder="Flash Report Content"><br/>
                  <button type="submit" id="btnSaveFlashReport" class="btn btn-info pull-right">Save Flash Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="modal-form" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Add New Slide</h4>
        </div>

        <div class="modal-body">
          <!-- Horizontal Form -->
          <div class="box box-info">
              <!-- form start -->
              <form class="form-horizontal" id="form-add-event" enctype="multipart/form-data">
                  <div class="box-body">
                    <div class="form-group">
                        <label for="event-title" class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                          <input type="text" name="title" class="form-control" id="bulletinTitle" placeholder="Event Title">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="event-title" class="col-sm-3 control-label">File</label>
                      <div class="col-sm-9">
                        <input type="file" name="upload_file" id="upload_file" class="form-control">
                      </div>
                    </div>
                    <!-- Visible only for Administrator -->
                    <div class="form-group adminApproval">
                        <label class="col-sm-3 control-label" for="event-status">Approval Status</label>
                        <div class="col-sm-9">
                            <div style="margin-bottom:5px;"></div>
                            <input type="checkbox" class="flat-red input-lg" id="bulletinStatus" name="bulletinStatus">
                        </div>
                    </div>
                    <!-- <button type="submit" "btnAddEventSubmitX" class="btn btn-info pull-right">Submit</button> -->
                <!-- </form> -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" "btnAddEventSubmitX" class="btn btn-info pull-right">Submit</button>
                </div>
                </form>
                <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </div>

  <div id="modal-edit" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Edit Event</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; Approved this Slide?
          </div>
        </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" id="btnEditEvent">
          <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
      </div>
    </div>
  </div>

  <div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Delete this slide</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
              Are you sure you want to delete this Slide?
          </div>
          <!-- <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title"  id="deleteTitle"></h3>
              </div>
              <div class="box-body">
                <ul class="timeline">
                  <li>
                    <i class="fa fa-map-marker bg-blue"></i>
                    <div class="timeline-item">
                      <span class="time"id="deleteTimeStart"></span>
                      <h3 class="timeline-header" id="deleteDateStart"></h3>
                      <div class="timeline-body">
                          <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>
                          <div style="margin-top: 10px; padding-left: 20px;">
                            <p id="deleteDescription"></p>
                          </div>
                         
                      </div>
                      <div class="timeline-footer">
                          <div id="deleteStatus"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-flag-checkered bg-green"></i>
                    <div class="timeline-item">
                      <span class="time"id="deleteTimeEnd"></span>
                      <h3 class="timeline-header" id="deleteDateEnd"></h3>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-calendar bg-gray"></i>
                  </li>
                </ul>
              </div>
          </div> -->
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" id="btnDeleteEvent"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>
</div>