<div class="wrapper">
    <% include ../header/header %>
    <% include ../sidebar/sidebar %>
    <section class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-calendar"></i>
                            <h3 class="box-title">Calendar</h3>
                        </div>
                        <div class="box-body no-padding">
                            <!--The calendar -->
                            <div id="preview-calendar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>