<div class="wrapper">
    <% include ../header/header %>
    <% include ../sidebar/sidebar %>
    <section class="content-wrapper">
      <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>VISSION, MISSION and ANNOUNCEMENT</strong></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <!-- general form elements -->
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Board</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="frmAnnouncement">
                      <div class="box-body">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Announcement</label>
                          <textarea class="form-control" rows="3" maxlength="300" id="announcement_text"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Vision</label>
                            <textarea class="form-control" rows="3" maxlength="300" id="vision_text"></textarea>
                          </div>

                        <div class="form-group">
                          <label for="exampleInputEmail1">Mission</label>
                          <textarea class="form-control" rows="3" maxlength="300" id="mission_text"></textarea>
                        </div>
                      </div>
                      <!-- /.box-body -->
        
                      <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.box -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    </div>