<div class="wrapper">
    <% include ../header/header %>
    <% include ../sidebar/sidebar %>
    <!-- content-wrapper section -->
    <section class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-users"></i>
                            <h3 class="box-title">LIST OF USER</h3>
                            <div class="pull-right box-tools">
                                <button id="btn-add-user" type="button" class="btn btn-primary btn-xs"><i class="fa fa-user-plus"></i> Add New User</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="user-api-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Fullname</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- add user modal -->
    <div id="modal-form-user" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">Add New User</h4>
                </div>
    
                <div class="modal-body">
                    <div class="box box-info">
                        <form class="form-horizontal" id="form-add-user">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="event-title" class="col-sm-3 control-label">Fullname</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="userFullname" class="form-control" id="userFullname" placeholder="Fullname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userName" class="col-sm-3 control-label">Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="userName" id="userName" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userPassword" class="col-sm-3 control-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="userPassword" id="userPassword" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="userConfirmPassword" id="userConfirmPassword" class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <!-- Visible only for Administrator -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="userRole">Administrator Rights</label>
                                    <div class="col-sm-9">
                                        <div style="margin-bottom:5px;"></div>
                                        <input type="checkbox" class="flat-red input-lg" id="userRole" name="userRole">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button id="btnAddUserSubmit" class="btn btn-info pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- edit user modal -->
    <div id="modal-edit-user" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">Edit Slide</h4>
                </div>
    
                <div class="modal-body">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <!-- form start -->
                        <form class="form-horizontal" id="form-edit-user">
                            <div class="box-body">
                                <strong><i class="fa fa-id-badge margin-r-5"></i> User Identification</strong>
                                <br/>
                                <div class="form-group">
                                    <label for="event-title" class="col-sm-3 control-label">Fullname</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="editUserFullname" class="form-control" id="editUserFullname" placeholder="Fullname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userName" class="col-sm-3 control-label">Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="editUserName" id="editUserName" class="form-control disabled" placeholder="Username">
                                    </div>
                                </div>
                                <hr/>
                                <strong><i class="fa fa-lock margin-r-5"></i> Change Password</strong>
                                <br/>
                                <div class="form-group">
                                    <label for="userPassword" class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="editUserPassword" id="editUserPassword" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="EditUonfirmPassword" class="col-sm-3 control-label">Confirm New Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="editUserConfirmPassword" id="editUserConfirmPassword" class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <hr/>
                                <!-- Visible only for Administrator -->
                                <strong><i class="fa fa-universal-access margin-r-5"></i> Role and Status</strong>
                                <br/>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9" id="editUserRoleStatus">
                                        <span id="badgeRole"></span>
                                        <span id="badgeStatus"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-8 callout callout-warning">
                                        <i class="fa fa-exclamation-triangle margin-r-5"></i> Check or uncheck the checkbox below to change user role and status.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="editUserRole"> Administrator Rights</label>
                                    <div class="col-sm-9">
                                        <div style="margin-bottom:5px;"></div>
                                        <input type="checkbox" class="flat-red input-lg" id="editUserRole" name="editUserRole">                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="editUserStatus"> Status</label>
                                    <div class="col-sm-9">
                                        <div style="margin-bottom:5px;"></div>
                                        <input type="checkbox" class="flat-red input-lg" id="editUserStatus" name="editUserStatus">
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button id="btnUserEventSubmit" class="btn btn-info pull-right">Update Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- delete user modal -->
    <div id="modal-delete-user" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this Entry</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                        Are you sure you want to delete this User?
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                        <h3 class="box-title"  id="deleteTitle">User Information</h3>
                        </div>
                        <div class="box-body">

                            <strong><i class="fa fa-address-book-o margin-r-5"></i> Fullname</strong>
                
                            <p class="text-muted margin-r-5" id="deleteFullName">
                               
                            </p>
                
                            <hr>
                
                            <strong><i class="fa fa-user-o margin-r-5"></i> Username</strong>
                            <p class="text-muted margin-r-5" id="deleteUserName"> </p>
                
                            <hr>
                
                            <strong><i class="fa fa-id-badge margin-r-5"></i> Role and Status</strong>
                            <p class="margin-r-5">
                                <span id="deleteRole"></span>
                                <span id="deleteStatus"></span>
                            </p>
                
                            <hr>

                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success" id="btnDeleteUser"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
        </div>
    </div>
</div>