<% include header/header-home %>

<main class="content">
    <div class="row">
        <div class="col-md-4" style="height:97vh;">
            <div class="row">
                <div class="col-sm-6" style="height:50vh;background-color:burlywood;overflow:scroll">
                    <h2 class="text-center">Mission</h2>
                    <p class="text-center" style="font-family: times, Times New Roman, times-roman, georgia, serif;font-size: 1vw;text-transform: uppercase; word-spacing:1.2em;">
                     To produce world-class professionals in aeronautics, technology and liberal arts imbued with commitment, excellece, responsibility
                    and integrity through advanced level of instruction, research, extension and production.
                    </p>
                </div>
                <div class="col-sm-6" style="height:50vh;background-color:aqua;">
                    <h2 class="text-center">Vision</h2>
                    <p class="text-center" style="font-family: times, Times New Roman, times-roman, georgia, serif;font-size: 1vw;text-transform: uppercase; word-spacing:1.2em;">
                       
                        The Philippine State College of Aeronautics (PhilSCA) is a leader institution commited to the scientific advancement in
                        aeronautical sciences, technology and liberal arts responsive to the dynamic and emerging demands for world class professionals
                        of the aviation industry.
                    </p>
                </div>
                <div class="col-sm-12" style="height:35vh;background-color:#00a65a;overflow:scroll">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="height:9vh;background-color:cadetblue">
                    <div class="space-4"></div>
                    <center>
                        <div class="clock" style="font-size:36px"></div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="height:85vh;background-color: #f5f5f5">
            <!-- <div align="center" class="embed-responsive embed-responsive-16by9"> -->
                <!-- <video autoplay loop class="embed-responsive-item"> -->
                <!-- <video autoplay class="embed-responsive-item">
                    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                </video>
            </div> -->
            <div id="homeCarousel" class="carousel slide center">
                <div id="carouselBody" class="carousel-inner">
                    <!-- Item 1 -->
                    <div class="item active">
                        <img src="/images/default-bg.jpg" />
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Welcome Visual Bulletin Board</h1>
                                <p></p>
                            </div>
                        </div>
                    </div>
                
                 
                </div>
            </div>

        </div>
        <div class="col-md-8" style="height:9vh;background-color:rgb(206, 255, 127)">
            <div class="space-4"></div>
                <strong>
                    <marquee>
                        <p style="font-family: Impact; font-size: 32pt" id="flashreport-banner">
                            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor!
                        </p>
                    </marquee>
                </strong>
            </div>
        </div>
    </div>
</main>
