<div class="login-box">
    <div class="login-logo">
      <a href="#"><b>VISUAL BULLETIN BOARD FOR THE INSTITUTE OF COMPUTER STUDIES</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
  
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" id="username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" id="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button id="btnLogin" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->