<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/admin" class="admin-nav">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <!-- <li>
          <a href="/admin/pending-events" class="pending-nav">
            <i class="fa fa-files-o"></i>
            <span>Board</span>
            <span class="pull-right-container">
              <span class="label label-warning pull-right">4</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/admin/event-preview" class="preview-nav">
            <i class="fa fa-calendar"></i> <span>Event Preview</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li> -->
        <li> 
          <a href="/admin/system-management" class="system-nav adminApproval">
            <i class="fa fa-cogs"></i>
            <span>System Management</span>
            <span class="pull-right-container"></span>
          </a>
        </li>
        <li>
            <a href="#" id="logout">
              <i class="fa fa-toggle-on"></i>
              <span>Log-Out</span>
              <span class="pull-right-container"></span>
            </a>
          </li>
      </ul>
    </section>
</aside>